.header {
    height: 100px;
    background-color: rgb(255, 211, 123);
    display: flex;
    justify-content: space-between;
}

.link {
margin-top: auto;
margin-bottom: auto;
margin-left: 100px;
margin-right: 100px;
}